.add-widget{
    display: flex;
    justify-content: center;
    margin-top: 33px;
}

.inner-widget-card{
    width: 440px;
    height: 193px;
}

@media (max-width: 360px){
    .inner-widget-card{
        width: 298px;
        height: 173px;
    }
}