.header-dashboard {
  justify-content: space-between;
  padding: 34px 46px 0px 46px;
}

.button-dashboard-header {
  display: flex;
  align-items: center;
  gap: 26px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 776px;
  }

  @media (max-width: 780px) {
    .title {
      gap: 23px;
    }
  }
  
  @media (max-width: 1024px) {
    .title {
      gap: 264px; 
    }
  }
  
  @media (max-width: 1440px) {
    .title {
      gap: 200px; 
    }
  }
  