.catagories{
    h2{
      font-size: medium;
      padding-left: 20px;
    }
}

.widget-container{
    display: flex;
    align-items: center;
}

.widget-card{
    border: 14px solid #F5F5F5;
    border-radius: 23px;
}